name: Node.js and Docker Build

on:
  push:
    branches:
      - mysql
  pull_request:
    branches:
      - mysql

env:
  COMMIT_SHA: ${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"

      - name: Build Node.js
        run: |
          yarn install --development
          yarn build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract Commit SHA
        id: get_commit
        run: |
          commit_sha=$(git rev-parse --short=6 HEAD)
          echo "commit_sha=$commit_sha" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          platforms: linux/arm64,linux/amd64
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/ttdn:mysql
            ${{ secrets.DOCKER_USERNAME }}/ttdn:${{ env.COMMIT_SHA }}
